.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lefth{
    margin: 20px 30px;
    display: flex;
    align-items: center;
}
.lefth img{
    width: 50px;
}
.headerItem{
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: 0px 40px;
}
.righth{
    margin: 20px 40px;
    display: flex;
    align-items: center;
}
.headerItem button{
    padding: 15px 40px;
    font-size: 16px;
    color: white;
    background-color: #5865F2; /* Butonun arka plan rengi */
    border: none;
    border-radius: 40px; /* Köşeleri yuvarlatmak için */
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25); /* Hafif bir gölge efekti */
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.headerItem button:hover{
    background-color: #4348ae; /* Mouse üzerine geldiğinde rengi değişsin */
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.3);
}